@model IEnumerable<Models.Models.Actiecode>

@{
    ViewData["Title"] = "Actiecodes";
}

<h4>Actiecodes</h4>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table  id="lijstArtikelen" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeldigVanDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeldigTotDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEenmalig)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeldigVanDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeldigTotDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEenmalig)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ActiecodeId">Edit</a> 
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ActiecodeId">Details</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ActiecodeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
